/*BODY*/
body {
	background: #3d3d3d;
	color: #fffccc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	padding: 60px 0;
}


/*NAV*/
.navbar-inverse .brand {
	color: white;
	font-family: 'Cantora One', sans-serif;
}
.navbar-inverse .navbar-inner, .sep {
	background: rgb(30,87,153); /* Old browsers */
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(15,79,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(15,79,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(15,79,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(15,79,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(15,79,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(15,79,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0f4f99',GradientType=0 ); /* IE6-9 */
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a,
.navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {
	color: white;
}

.nav.pull-right li a {
	padding-right: 0
}


/*HERO*/
.hero-unit {
	width: 100%;
	height: 250px;
	background: url(/images/hdr.png);
	background-size: cover;
	margin: -20px 0 0 0;
	border-radius: 0;
	padding: 0;
	transition: height 1s;
	-moz-transition: height 1s; /* Firefox 4 */
	-webkit-transition: height 1s; /* Safari and Chrome */
	-o-transition: height 1s; /* Opera */
}

.hero-unit.loggedIn {
	height: 0;
}

.hero-unit .brandlogo h1 {
	font-family: 'Cantora One', sans-serif;
	margin: 50px 0;
	font-size: 3em;
	color: white;
	text-shadow: 4px 4px 2px #3d3d3d;
}
.hero-unit .begin {
	margin-top: 50px;
	color: white;
	text-align: center;
	background: rgba(30,87,153,1); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,.5) 0%, rgba(125,185,232,.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,.5)), color-stop(100%,rgba(125,185,232,.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,.5) 0%,rgba(125,185,232,.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,.5) 0%,rgba(125,185,232,.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,.5) 0%,rgba(125,185,232,.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,.5) 0%,rgba(125,185,232,.5) 100%); /* W3C */
}

.hero-unit .begin input[type="text"],
.hero-unit .begin input[type="password"] {
	background: rgba(30,87,153, .5);
	color: white;
}
.hero-unit .begin input[type="password"] {
	display: block;
	margin: 5px auto;
}
.hero-unit .begin h2 {
	text-shadow: 4px 4px 2px #3d3d3d;
}


/*SUBNAV*/

.sep {
	border-color: : rgba(30,87,153,1);
	border-bottom-width: 4px;
}

.sep {
	height: 2em;
	margin-bottom: 20px;
	border: 4px solid rgba(25,85,132,1);
	border-top-color: rgba(30,87,153,1);
	border-top-width: 2px;
	border-left-width: 0;
	border-right-width: 0;
}


.sep {
	color: white;
}
.sep ul {
	margin: 0;
}
.sep ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.sep ul li span {
	line-height: 1.5em;
	font-size: 1em;
	display: inline-block;
	vertical-align: middle;
}

.sep .user-count {
	font-size: 1.5em;
	padding-left: 10px;
}

.sep .user-name {
	line-height: 2em;
	font-size: 1em;
}

/*CHAT*/
.chat-windows .chat {
	height: 200px;
	overflow-y: scroll;
	color: #fff;
	padding: 5px;
}
.chat-interface fieldset .input-append {
	display: block;
}
.chat-interface fieldset .input-append .input-block-level {
	width: 100%;
}
.chat-interface fieldset .input-append button {
	margin-left: 0;
}

.chat-interface .nav-tabs>.active>a,
.chat-interface .nav-tabs>.active>a:hover,
.chat-interface .nav-tabs>.active>a:focus {
	color: #ffff;
	background-color: #1d1d1d;
	border: 1px solid #2D2D2D;
}

.chat-interface .nav {
	margin-bottom: 0;
}
.chat-interface .nav-tabs {
	border-bottom: 1px solid #2D2D2D;
}
.chat-interface .nav-tabs li a{
	color: #fff;
}
.chat-interface .users-toggle {
	position: absolute; top: 0; right: 0px; z-index: 10;
}
.chat-interface .users-list {
	width:auto; position: absolute; top: 0; right: 0px; max-height: 220px;
overflow: scroll; z-index: 5;
}

.chat-interface .chat {
	width:auto;
	margin-bottom: 0;
	background: #1d1d1d;
	color: #ffffff;
}



/*MAIN PAGE*/
.tournament-list {
	margin: 0;
}
.tournament-list li {
	background: rgb(76,76,76); /* Old browsers */
	background: rgb(38,38,38); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(38,38,38,1) 0%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,38,38,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(38,38,38,1) 0%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 10px;
	margin: 10px 0;
	border-radius: 4px;
	list-style-type: none;
	border: 4px solid rgba(30,87,153,1);
}
.tournament-list li:first-child {
	margin-top: 0;
}

.tournament-list img {
	float: left;
	margin: 0 10px 10px 0;
	height: 50px;
}
.tournament-list .name {
	font-size: 1.5em;
	line-height: 50px;
}
.tournament-list li.canJoin .name a {
	color: white;
}
.tournament-list li:not(.canJoin) .name a {
}
.tournament-list li.canJoin {
}
.tournament-list li .info {
	text-align: right;
}
.join-btn {
	margin-top: 10px;
}

/*VIEW PAGE*/
.active-iframe, .view-iframe {
	height: 500px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.view-match {
	color: #fff;
}
.view-match .fa-times-circle {
	cursor: pointer;
	margin: 10px;
}


/*ACTIVE TOURNAMENT*/
.round-content {
	/*margin-top: 10px;*/
}
.round-info h3 {
	margin: 0;
	color: white;
	line-height: 24.5px;
}
.round-info strong {
	margin: 10px 0;
	display: block;
}
.active-match strong {
	font-size: 2em;
}
.active-match .vs {
	line-height: 2em;
	font-size: 1.5em;
}

/*COLORS*/
.pending .state {
	color: #468847;
}
.underway .state {
	color: #D5B617;
}
.time {
	color: #D5B617;
}
.complete .state {
	color: #B84141;
}
.users0 {}
.users1, .users2, .users3, .users4 {
	background: #468847;
}
.users5, .users6, .users7 {
	background: #3a87ad;
}
.users8 {
	background: #f89406;
}
.users0clr {}
.users1clr, .users2clr, .users3clr, .users4clr {
	color: #468847;
}

.users5clr, .users6clr, .users7clr {
	color: #3a87ad;
}
.users8clr {
	color: #f89406;
}

.disconnect, .disconnect a {
	color: red;
}

/*Vendor crap*/
.vendor {
	/*display: none;*/
}
.mobile-feedback {
	margin: 0 10px 10px;
	display: none;
}
.mobile-feedback a {
	color: #d67908;
}

footer {
	color: #ccc;
	margin-bottom: 20px;
	padding: 10px;
}

footer img {
	height: 22px;
}

footer img[alt=Challonge] {
	height: 16px;
}

@media (max-width: 979px) {
	body {
		padding: 0;
	}

	.hero-unit {
		height: 300px;
	}

	.navbar .container .nav-container {
		padding: 0;
	}

	.hero-unit .begin input,
	.hero-unit .begin button {
		margin: 10px auto;
		width: auto;

	}

	.tournament-list .heading, .tournament-list .info {
		width: auto;
	}

	.tournament-list .heading {
		float: left;
	}

	.tournament-list .info {
		float: right;
	}

	.tournament-list .name {
		font-size: 1.2em;
		line-height: 1.2em;
	}
	.tournament-list .name img {
		height: 20px;
	}
}

@media (max-width: 767px) {
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left: 0;
		margin-right: 0;
	}
	.hero-unit {
		background-image: url(/images/hdr-sqr.png);
		height: 450px;
	}
	.hero-unit .brandlogo h1 {
		text-align: center;
		font-size: 2em;
	}

	.hero-unit .begin {
		width: 98%;
		margin: 0 auto;
	}
	.sep ul li {
		padding: 0 10px;
	}
	.main-content {
		padding: 10px;
	}

	.chat-interface fieldset .input-append .input-block-level,
	.chat-interface fieldset .input-append button {
		width: auto;
		margin: 10px 0;
		display: block;
	}

	.sep ul li:last-child, .sep ul li {
		border-right: 0;
		border-left: 0;
	}

	.tournament-list {
		margin-bottom: 40px;
	}

	.login.modal-body input,
	.register.modal-body input {
		margin-bottom: 5px;
	}

	.tournament-list li:first-child {
		margin-top: 10px;
	}

	.round-info .btn-danger {
		margin-bottom: 10px;
	}

	.furjbqy {
		display: none;
	}

	.mobile-feedback {
		display: block;
	}
}