body {
	background: #fafafa;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	padding: 60px 0;
}

.active-iframe, .view-iframe {
	height: 500px;
}

.chat-windows .chat {
	height: 200px;
	overflow-y: scroll;
}

.active-match strong {
	font-size: 2em;
}
.active-match .vs {
	line-height: 2em;
	font-size: 1.5em;
}