<div class="container changelog">
	<h1>Changelog</h1>

	<strong>5/30/2015</strong>
	<ul>
		<li>Added a submit button to the match reporting screen</li>
		<li>Added confirmation message when reporting is submitted</li>
		<li>Added a more prominant notice when reporting conflicts are detected</li>
		<li>Updated the Challonge API wrapper to send a cache-busting property to avoid the 3-minute delay on updates</li>
		<li>Fixed a bug where the winner of a tournament couldn't join a new tournament until they refreshed the page</li>
	</ul>

	<strong>11/11/2014</strong>
	<ul>
		<li>Fixed a bug where brackets were showing the wrong matchups if rendered before shuffled</li>
	</ul>

	<strong>11/10/2014</strong>
	<ul>
		<li>Fixed iframe refresh bug - they now live update from challonge</li>
		<li>Hid the join button on tournaments that have reached player cap but haven't started</li>
		<li>Removed restrictions on special characters in battletags for better international support</li>
		<li>Switched the auto-drop window to only apply to unstarted tournaments - no more in-progress drops</li>
		<li>Added loading status message when getting the tournaments list</li>
		<li>Added connection status icon to the navbar - green: good, red: disconnected, flashing yellow: reconnecting</li>
		<li>Added auto-reconnect for getting disconnected.  Auto-reconnecting will auto-login and fixes several syncing issues</li>
		<li>Added logout</li>
		<li>Login now auto-remembers on refresh till the browser is closed or the user logs out</li>
		<li>Updated the join modal</li>
		<li>Added rules to the active tournament page and other minor layout changes</li>
		<li>Update the FAQ</li>
		<li>Updated the style on the FAQ and changelog for readability</li>
	</ul>

	<strong>2/16/2014</strong>
	<ul>
		<li>Added timestamps to chat</li>
		<li>Removed #123 from BattleTags in chat</li>
	</ul>

	<strong>2/15/2014</strong>
	<ul>
		<li>Added active admin list below chat</li>
	</ul>

	<strong>2/1/2014</strong>
	<ul>
		<li>Added admin color to chat</li>
	</ul>

	<strong>1/19/2014</strong>
	<ul>
		<li>Added profile page</li>
		<li>Added leaderboard</li>
		<li>Added flash message notifications</li>
		<li>Added chat banlist</li>
		<li>Added changelog</li>
		<li>Fixed misc. backend bugs</li>
		<li>Fixed chat not scrolling properly when switching tabs</li>
		<li>Fixed player list on browse pages</li>
		<li>Fixed null users entering tournaments (I hope!)</li>
	</ul>
	
	<strong>1/18/2014</strong>
	<ul>
		<li>Launch!</li>
	</ul>
</div>