<div class="container leaderboard">
	<h1>Changelog</h1>

	<strong>1/19/2014</strong>
	<ul>
		<li>Added profile page</li>
		<li>Added leaderboard</li>
		<li>Added flash message notifications</li>
		<li>Added chat banlist</li>
		<li>Added changelog</li>
		<li>Fixed misc. backend bugs</li>
		<li>Fixed chat not scrolling properly when switching tabs</li>
		<li>Fixed player list on browse pages</li>
		<li>Fixed null users entering tournaments (I hope!)</li>
	</ul>
	<strong>1/18/2014</strong>
	<ul>
		<li>Launch!</li>
	</ul>
</div>