<div class="container faq">
	<h2>FAQ</h2>

	<strong>How does this all work?</strong>
	<p>
		To join a tournament, enter your BattleTag and click the +Join button for the tournament labeled "pending" in your region.  Once 8 players join, the tournament will begin and your current match will be displayed, along with the bracket for the current tournament.
	</p>
	<p>
		Players add their opponent's BattleTag to their friends list, and after playing a best-of-three match, both players enter the results.  As each match ends, the app will update both the bracket and your current match in real time.  Continue until you are eliminated, or crowned the champion!
	</p>

	<hr>

	<strong>What happens if there is a reporting conflict?</strong>
	<p>
		Conflicts in reporting will notify the other players via chat.  For anything that can't be resolved between players, contact an admin in general chat.
	</p>

	<hr>

	<strong>How do drops/disconnects work</strong>
	<p>
		The system automatically handles players who disconnect from the HSTRNY site, and will drop anyone who doesn't reconnect in 4 minutes.  If you close the tab, you will be dropped.
	</p>

	<hr>

	<strong>What is this site built with?</strong>
	<p>
		It uses Twitter's Bootstrap and AngularJS on the frontend (built via Yeoman), a small NodeJS server on the backend and MongoDB for the database. Real-time communication uses socket.io and the webserver uses express. The actual tournament logic is handled by Challonge, and uses the <a href="https://github.com/tidwell/node-challonge">node challonge api wrapper</a>.
	</p>
	<hr>

	<strong>How can I report a bug or give feedback?</strong>
	<p>
		To report a bug or submit feedback, please use the "Leave Feedback" tab on the left of the screen, or if you are on mobile, the "Leave Feedback" link below the footer.
	</p>
	<p>
		I can be reached via email at <a href="mailto:Aaron.Tidwell@gmail.com">Aaron.Tidwell@gmail.com</a> or on twitter at <a href="http://www.twitter.com/tidwell" target="_new">@Tidwell</a>
	</p>

	<p>Or, hit me up the general chat.  Look for Tidwell#1428</p>
</div>