<div ng-show="!at.activeTournament.tournament" class="loader">
	<i class="fa fa-refresh fa-spin"></i> Loading Active Tournament
</div>
<div class="container main-content {{at.activeTournament.tournament.state}}" ng-show="at.activeTournament">
	<div class="row-fluid round-info">
		<div class="pull-left">
			<h3>{{at.activeTournament.tournament.name}}</h3>
			<strong>
				<span class="state">{{at.activeTournament.tournament.state}}</span>
				<span class="badge users{{at.activeTournament.tournament.participantsCount}}">
					{{at.activeTournament.tournament.participantsCount}} / {{at.activeTournament.tournament.signupCap}}
				</span>
			</strong>
		</div>
		<button class="btn btn-danger pull-right" ng-click="drop()">
			<i class="fa fa-minus-square"></i> Drop
		</button>
	</div>
	<div class="row-fluid round-content">
		<div class="span6 well">
			<div ng-show="at.match" class="active-match">
				<h3>Round {{at.match.match.round}}</h3>
				<p>
					<strong ng-class="{disconnect: !isOnline(at.match.player1Name)}">
						{{at.match.player1Name}}
					</strong>
					<span class="vs"> vs. </span>
					<strong ng-class="{disconnect: !isOnline(at.match.player2Name)}">
						{{at.match.player2Name}}
					</strong>
				</p>
				<ng-include src="'views/rules-summary.html'"></ng-include>

				<p>
					Add your opponent's BattleTag to your friends list then play a best of 3 match, then select the winner below.  Contact an admin in general chat if you have any issues.
				</p>
				<h3>Results</h3>
				<form class="form-horizontal">
					<select ng-model="at.winnerReport" ng-change="sendResult()">
						<option value="">SELECT WINNER</option>
						<option value="{{at.match.match.player1Id}}">{{at.match.player1Name}}</option>
						<option value="{{at.match.match.player2Id}}">{{at.match.player2Name}}</option>
					</select>
				</form>
				<div ng-show="at.matchError">
					<p>
						<strong>{{at.idNameMap[at.matchError.report[0].user]}}</strong> reports <strong>{{at.idNameMap[at.matchError.report[0].winner]}}</strong> won.
					</p>
					<p>
						<strong>{{at.idNameMap[at.matchError.report[1].user]}}</strong> reports <strong>{{at.idNameMap[at.matchError.report[1].winner]}}</strong> won.
					</p>
				</div>
			</div>
			<div ng-show="!at.match && at.activeTournament.tournament.state!='pending'">
				<strong>You are not currently in any matches.</strong>
			</div>
			<div ng-show="at.activeTournament.tournament.state=='pending'">
				<strong>The tournament will begin as soon as 8 players have joined.</strong>
				<br>
				<strong>Currently Registered</strong>
				<ul>
					<li ng-repeat="user in at.activeTournament.tournament.participants">
						<a href="/profile/{{encode(user.participant.name)}}">{{user.participant.name}}</a>
					</li>
				</ul>
				<ng-include src="'views/rules-summary.html'"></ng-include>
			</div>
		</div>
		<div class="span6">
			<ng-include src="'views/tournament-chat.html'"></ng-include>
		</div>
	</div>
	<div class="active-iframe" challonge="at.activeTournament.tournament.url" ng-show="at.activeTournament.tournament.state=='underway'">
	</div>
</div>