<div class="container leaderboard">
	<h1>HSTRNY Looking for Admins</h1>
	<p>
		HSTRNY is looking for admins to help with community management, tournament organization, promotion, and general administration.  These are unpaid positions in your free time.  We are looking for active players who want to help promote the competative hearthstone community.
	</p>
	<p>
		All bracket management is done through challonge.com, and a challonge account is required for all admins.  Admins can still compete in tournaments and be ranked on the leaderboards.
	</p>
	<p>
		Requirements:
	</p>
	<ul>
		<li>Familiarity with the HSTRNY tournament system.</li>
		<li>Availability during NA or EU peak times (evenings and weekends).</li>
		<li>Familiarity with challonge bracket administration a plus.</li>
		<li>Community management experience a plus.</li>
	</ul>

	<p>
		To apply, please send an email to <a href="mailto:admins@hstrny.com">admins@hstrny.com</a>.  Please include your region and availability, your familiarity with the HSTRNY site, and details about any community management experience.  It may take up to a week to receive a response.
	</p>
</div>