<div class="container main-content">
	<div class="row-fluid">
		<ul class="breadcrumb">
			<li>
				<a href="/browse">Browse</a>
				<span class="divider">/</span>
			</li>
			<li class="active">{{tournament.tournament.name}}</li>
		</ul>
	</div>
	<div class="view-match">
		<div ng-show="!tournamentId || error || !found">
			<h3>{{error || 'No Tournament Found'}}</h3>
		</div>
		<div ng-show="tournamentId && !error && found">
			<div class="row-fluid">
				<h3 class="span8">{{tournament.tournament.name}}</h3>
				<div class="span4 {{tournament.tournament.state}}" style="text-align: right">
					<ng-include src="'views/trny-info-small.html'"></ng-include>
				</div>
			</div>
			<ul class="nav nav-tabs" id="myTab">
				<li class="active">
					<a href="#info" data-toggle="tab">Rules</a>
				</li>
				<li>
					<a href="#bracket" data-toggle="tab">Bracket</a>
				</li>
				<li>
					<a href="#players" data-toggle="tab">Players</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="bracket">
					<div challonge="tournamentId" class="view-iframe" style="max-width: 100%" ng-show="tournament.tournament.state != 'pending'"></div>
					<div class="alert alert-info" ng-show="tournament.tournament.state == 'pending'" style="text-align: center">
						This tournament has not yet started.
					</div>
				</div>
				<div class="tab-pane active" id="info">
					<div class="join-trny">
						<ng-include src="'views/trny-info.html'"></ng-include>
					</div>
				</div>
				<div class="tab-pane" id="players">
					<div ng-show="!tournament.tournament.participants.length">
						<strong>There are no players in this tournament.</strong>
					</div>
					<ul>
						<li ng-repeat="player in tournament.tournament.participants">
							<a href="/profile/{{encode(player.participant.name)}}">
								<i class="fa fa-user"></i>
								{{player.participant.name}}
							</a>
					</li>
				</ul></div>
			</div>
		</div>
		<script>
			$('#myTab a').click(function (e) {
			  e.preventDefault();
			  $(this).tab('show');
			})
		</script></div></div>