<div class="container main-content">
	<div class="row-fluid">
		<div class="span7">
			<ul class="tournament-list">
				<li ng-repeat="tournament in tournaments.tournaments | orderBy:orderState | filter:isActive" ng-class="{canJoin: tournament.tournament.state == 'pending'}">
					<div class="row-fluid {{tournament.tournament.state}}">
						<div class="span8 heading">
							<h4 class="name">
								<img src="/images/a87cd9b0.icon.png">
								<a href="/spectate/{{tournament.tournament.url}}">{{tournament.tournament.name}}</a>
							</h4>
						</div>
						<div class="span4 info">
							<ng-include src="'views/trny-info-small.html'"></ng-include>
						</div>
						<div class="clearfix"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="span5">
			<ng-include src="'views/general-chat.html'"></ng-include>
			<ng-include src="'views/leaderboard.html'"></ng-include>
			<a href="/leaderboards">See all Ratings >></a>
		</div>
	</div>
</div>