 <div class="container main-content">
	<div class="row-fluid">
		<ul class="tournament-list">
			<li ng-animate="'animate'" ng-repeat="tournament in tournaments.tournaments | orderBy:orderState" ng-class="{canJoin: tournament.tournament.state == 'pending'}">
				<div class="row-fluid {{tournament.tournament.state}}">
					<div class="span9 heading">
						<h4 class="name">
							<img src="/images/icon.png" />
							<a href="/spectate/{{tournament.tournament.url}}">{{tournament.tournament.name}}</a>
						</h4>
					</div>
					<div class="span3 info {{tournament.tournament.state}}">
						<ng-include src="'views/trny-info-small.html'"></ng-include>
					</div>
					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
	</div>
</div>