<div class="container faq">
	<h2>FAQ</h2>

	<p>
		All recent updates can be viewed on the <a href="/changelog">Changelog</a>
	</p>

	<strong>How does this all work?</strong>
	<ul>
		<li><strong>To join a tournament, enter your BattleTag and click the +Join button for the tournament labeled "pending" in your region.</strong></li>
		<li><strong>Once 8 players join, the tournament will begin and your current match will be displayed, along with the bracket for the current tournament.</strong></li>
	
		<li><strong>Players add their opponent's BattleTag to their friends list, and play a best-of-three match</strong></li>
		<li><strong>Afterwards, both players enter the results on the HSTRNY site</strong></li>
		<li><strong>As each match ends, the app will update both the bracket and your current match in real time.  Continue until you are eliminated, or crowned the champion!</strong></li>
	</ul>

	<hr />

	<strong>What are the rules for the matches?</strong>
	<ng-include src="'views/rules-summary.html'"></ng-include>

	<hr />

	<strong>What happens if there is a reporting conflict?</strong>
	<p>
		Conflicts in reporting will notify the other players via chat.  For anything that can't be resolved between players, contact an admin in general chat.
	</p>

	<hr />

	<strong>How do drops/disconnects work</strong>
	<p>
		The system automatically handles players who disconnect from the HSTRNY site before a tournament starts, and will drop them if they do not reconnect within 4 minutes.  Once a tournament has started, report an AFK player in general chat.  In tournament chat, disconnected players will show in red in the user dropdown.
	</p>

	<hr />

	<strong>How do Leaderboard points work?</strong>
	<p>Players are given 6 pts for a 1st place finish, 4 pts for a 2nd place finish, 3 pts for 3rd or fourth and 1pt for all other results.</p>

	<hr />

	<strong>What is this site built with?</strong>
	<p>
		It uses Twitter's Bootstrap and AngularJS on the frontend (built via Yeoman), a small NodeJS server on the backend and MongoDB for the database. Real-time communication uses socket.io and the webserver uses express. The actual tournament logic is handled by Challonge, and uses the <a href="https://github.com/tidwell/node-challonge">node challonge api wrapper</a>.
	</p>
	<hr />

	<strong>How can I report a bug or give feedback?</strong>
	<p>
		To report a bug or submit feedback, please use the "Leave Feedback" tab on the left of the screen, or if you are on mobile, the "Leave Feedback" link below the footer.
	</p>
	<p>
		I can be reached via email at <a href="mailto:Aaron.Tidwell@gmail.com">Aaron.Tidwell@gmail.com</a> or on twitter at <a href="http://www.twitter.com/tidwell" target="_new">@Tidwell</a>
	</p>

	<p>Or, hit me up the general chat.  Look for Tidwell#1428</p>
</div>