<div class="chat-interface">
	<div class="row-fluid">
		<div style="position: relative">
			<ul class="nav nav-tabs chat-tab">
				<li class="active">
					<a>General Chat</a>
				</li>
			</ul>
			<div class="tab-content chat-windows">
				<div id="general-chat" class="general-chat chat">
					<p ng-repeat="msg in chat.chatLog" ng-class="{system: msg.user=='System'}">
						<strong><a href="/profile/{{encode(msg.user)}}">{{msg.user}}</a></strong>: {{msg.msg}}
					</p>
				</div>
			</div>
			<button class="btn btn-inverse users-toggle" ng-click="showUsers=(showUsers==true?false:true)">
				<i class="fa fa-user"></i>
			</button>
			<div class="well users-list" ng-show="showUsers">
				<div ng-show="countUsers()==0">
					<hr />
					<strong>No Players In Chat</strong>
					<hr />
				</div>
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="(name,data) in user.user.userList">
						<a href="/profile/{{encode(name)}}"> <i class="fa fa-user"></i>
							{{name}}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<form ng-submit="sendChat('generalChat', chat.generalChat); chat.generalChat = ''">
			<fieldset>
				<div class="input-append hidden-phone">
					<div class="span8">
						<input class="input-block-level" type="text" ng-model="chat.generalChat" ng-disabled="!user.user.loggedIn">
					</div>
					<button class="span4 btn btn-primary" type="submit" ng-disabled="!user.user.loggedIn"><i class="fa fa-comment"></i> Say</button>
				</div>

				<div class="visible-phone">
					
					<input class="input-block-level" type="text" ng-model="chat.generalChat" ng-disabled="!user.user.loggedIn">
					
					<button class="input-block-level btn btn-primary" type="submit" ng-disabled="!user.user.loggedIn"><i class="fa fa-comment"></i> Say</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>