<div class="container hero-unit">
	<div class="container">
		<div class="row-fluid" ng-show="!loggedIn">
			<div class="brandlogo span5">
				<h1>Hearthstone Tournaments</h1>
			</div>
			<div class="span7" ng-show="!loggedIn">
				<div class="row-fluid">
					<div class="span2"></div>
					<div class="begin well span8">
						<h2>Enter your BattleTag</h2>
						<form class="form-horizontal">
							<input type="text" ng-model="userName" placeholder="YourName#1234" />
							<button class="btn btn-primary" ng-click="login()">Start!</button>
						</form>
						<span class="alert alert-error" ng-show="error">{{error}}</span>
					</div>
					<div class="span2"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sep">
	<div class="container">
		<ul class="info">
			<li>
				<span style="line-height: 24px">
					Players Online
				</span>
				<span class="user-count">{{countUsers()}}</span>
			</li>
			<li class="pull-right" ng-show="loggedIn">
				{{userName}}
			</div>
		</ul>
	</div>
</div>
<div class="container main-content">
	<div class="row-fluid" ng-show="!activeTournament">
		<div class="span7">
			<ul class="tournament-list">
				<li ng-animate="'animate'" ng-repeat="tournament in tournaments" ng-show="isActive(tournament)" ng-class="{canJoin: tournament.tournament.state == 'pending'}">
					<div class="row-fluid {{tournament.tournament.state}}">
						<div class="span9">
							<h4 class="name">
								<img src="/images/icon.png" />
								<a ng-show="tournament.tournament.state != 'pending'" href ng-click="view(tournament)">{{tournament.tournament.name}}</a>
								<span ng-show="tournament.tournament.state == 'pending'"><a>{{tournament.tournament.name}}</a></span>
							</h4>
						</div>
						<div class="span3 info">
							<div>{{tournament.tournament.tournamentType}}</div>
							<div>
								<span ng-show="tournament.tournament.state == 'pending' && loggedIn">
									<span class="users{{tournament.tournament.participantsCount}}clr">
										Not Registered
									</span>
								</span>
								<span class="state" ng-show="tournament.tournament.state != 'pending' || !loggedIn">
									{{tournament.tournament.state}}
								</span>
							</div>
							<div>
								<span ng-show="tournament.tournament.state == 'pending'">
									<span class="badge users{{tournament.tournament.participantsCount}}">
										{{tournament.tournament.participantsCount}} / {{tournament.tournament.signupCap}}
									</span>
								</span>
							</div>
							<div>
								<span class="time" ng-show="tournament.tournament.state == 'underway'">
									started: {{tournament.tournament.startedAt | date:'h:mm a'}}
								</span>
							</div>
							<button ng-show="tournament.tournament.state == 'pending' && loggedIn" class="pull-right btn btn-small btn-success join-btn" ng-click="join(tournament)">
								<i class="fa fa-plus"></i> Join
							</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="span5">
			<ng-include src="'views/general-chat.html'"></ng-include>
		</div>
	</div>
</div>
<div class="container view-match" ng-show="activeBracket && !activeTournament">
	<h3 class="pull-left">{{viewedTournamentName}}</h3>
	<i class="fa fa-times-circle fa-2x pull-right" ng-click="activeBracket=''" />
	<div class="view-iframe">
	</div>
</div>
<div class="container main-content {{activeTournament.tournament.state}}" ng-show="activeTournament">
	<div class="row-fluid round-info">
		<div class="pull-left">
			<h3>{{activeTournament.tournament.name}}</h3>
			<strong>
				<span class="state">{{activeTournament.tournament.state}}</span>
				<span class="badge users{{activeTournament.tournament.participantsCount}}">
					{{activeTournament.tournament.participantsCount}} / {{activeTournament.tournament.signupCap}}
				</span>
			</strong>
		</div>
		<button class="btn btn-danger pull-right" ng-click="drop()">
			<i class="fa fa-minus-square" /> Drop
		</button>
	</div>
	<div class="row-fluid round-content">
		<div class="span6 well">
			<div ng-show="match" class="active-match">
				<h3>Round {{match.match.round}}</h3>
				<p>
					<strong>{{match.player1Name}}</strong><span class="vs"> vs. </span><strong>{{match.player2Name}}</strong>
				</p>
				<p>
					Add your opponent's BattleTag to your friends list then play a best of 3 match.  Report the results after!
				</p>
				<h3>Results</h3>
				<form class="form-horizontal">
					<label>Winner</label>
					<select ng-model="winnerReport" ng-change="sendResult()">
						<option value="">-still playing-</option>
						<option value="{{match.match.player1Id}}">{{match.player1Name}}</option>
						<option value="{{match.match.player2Id}}">{{match.player2Name}}</option>
					</select>
				</form>
				<div ng-show="matchError">
					<p>
						<strong>{{idNameMap[matchError.report[0].user]}}</strong> reports <strong>{{idNameMap[matchError.report[0].winner]}}</strong> won.
					</p>
					<p>
						<strong>{{idNameMap[matchError.report[1].user]}}</strong> reports <strong>{{idNameMap[matchError.report[1].winner]}}</strong> won.
					</p>
				</div>
			</div>
			<div ng-show="!match">
				<strong>You are not currently in any matches.</strong>
			</div>
		</div>
		<div class="span6">
			<ng-include src="'views/tournament-chat.html'"></ng-include>
		</div>
	</div>
	<div class="active-iframe" ng-show="activeTournament.tournament.state=='underway'">
	</div>
</div>	