<div ng-controller="TournamentInfoCtrl" ng-init="init(tournament)">
	<p class="clear-fix">
		<span class="iconcontainer pull-left">
			<i class="fa fa-trophy fa-4x"></i>
		</span>
		This is a {{tournament.tournament.signupCap}}-player {{tournament.tournament.tournamentType}} tournament.  If you lose a round, your are eliminated. <strong>This is a <span region="{{tournament.tournament.name}}"></span> region tournament.</strong>
	</p>
	<p class="clear-fix">
		<span class="iconcontainer">
			<i class="fa fa-list-ol fa-4x"></i>
		</span>
		Each round is played best-of-three games (the first player to win 2 games wins the round).
	</p>
	<p class="clear-fix time-info">
		<span class="iconcontainer">
			<i class="fa fa-clock-o fa-4x"></i>
		</span>
		Depending on how far you advance, this tournament could take anywhere between 45 minutes and 2 hours.  Please ensure you have enough time to complete the tournament.
	</p>
	<section class="clear-fix">
		<span class="iconcontainer">
			<img src="/images/pack.png">
		</span>
		<ul>
			<li><strong>Players may change their hero/deck between rounds.</strong></li>
			<li><strong>Players may not change their hero during a round.</strong><br></li>
			<li><strong>Players may change the contents of their deck between games during a round.</strong></li>
		</ul>
	</section>
	<section>
		<strong>If you close the HSTRNY site and do not reconnect within 4 minutes you will be dropped from the tournament.</strong>
	</section>
	<button class="btn btn-success" ng-click="confirmJoin(tournament)" ng-show="user.user.loggedIn && tournament.tournament.state === 'pending' && !at.activeTournament">
		Join the tournament
	</button>
	<button class="btn btn-danger" disabled ng-show="!user.user.loggedIn && tournament.tournament.state === 'pending' && !at.activeTournament">
		Enter your BattleTag above to Join
	</button>
</div>